
@font-face {
  font-family: 'CenturySchoolbook-Italic';
  src: url('CenturySchoolbook-Italic.eot?#iefix') format('embedded-opentype'),  url('CenturySchoolbook-Italic.woff') format('woff'), url('CenturySchoolbook-Italic.ttf')  format('truetype'), url('CenturySchoolbook-Italic.svg#CenturySchoolbook-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
