@charset "utf-8";

img, object, embed, video {
    max-width: 100%;
}
/* IE 6 no admite max-width (anchura máxima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
    width:100%;
}

/*
        Propiedades de cuadrícula fluida de Dreamweaver
        ----------------------------------
        dw-num-cols-mobile:		5;
        dw-num-cols-tablet:		8;
        dw-num-cols-desktop:	10;
        dw-gutter-percentage:	25;
        
        Inspiración obtenida de "Responsive Web Design" de Ethan Marcotte 
        http://www.alistapart.com/articles/responsive-web-design
        
        y Golden Grid System de Joni Korpi
        http://goldengridsystem.com/
*/

body {
    font-size: 8px;
    padding:0px;
    margin:0px;
    width:100%;
}

.gridContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 0%;/*
    padding-right: 1.82%;*/
}

#contenedor {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}

#cuadrocontenedor{

    float: left;
    width: 70%;
    height: 408px;
    background-color: #FFFFFF;
    margin: 25% 5% 5% 25%;
    padding: 0% 0% 0% 0%;
    border-radius: 20px;
    opacity: 0.4; 
}

#marcotitulo{
    float:left;
    width: 100%;
    height: 30px;
    margin:0% 0% 0% 0%;
    padding:0% 0% 0% 0%;
}

#cuadrouno_titulo{
    float: left;
    width: 100%;
    height: 37px;
    margin: 4% 15% 0% 15%;
    padding: 0% 0% 0% 0%;
}

#cuadroform{
    float: left;
    width: 100%;
    height: 190px;
    margin: 7% 5% 5% 5%;
    padding: 0% 0% 0% 0%;

}

#cuadrouno_txtu {
    float: left;
    width: 100%;
    height: 31px;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    display: block;
}

#cuadrouno_txt{
    float: left;
    width: 90%;
    height: 25px;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    display: block;

}

#cuadrouno_txtinput{
    float: left;
    width: 90%;
    height: 24px;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% -9%;
    display: block;

}

#cuadrouno_txtud {
    float: left;
    width: 100%;
    height: 31px;
    padding: 0% 0% 0% 0%;
    margin: 10% 0% 0% 0%;
    display: block;
}

#cuadrouno_txtd{
    float: left;
    width: 100%;
    height: 25px;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    display: block;

}

#cuadrouno_txtinputd{
    float: left;
    width: 90%;
    height: 24px;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% -9%;
    display: block;

}

#cuadrobtn{
   float: left;
    width: 90%;
    height: 40px;
    margin: 25% 5% 5% 5%;
    padding: 0% 0% 0% 0%;

}

@media only screen and (min-width: 481px) {


    body {

        font-size:10px;
        padding:0px;
        margin:0px;
        width:100%
    }

    .gridContainer {
        width: 100%;
        padding-left: 0%;
        /*padding-right: 1.1625%;*/
    }

    #contenedor {

        width:100%;
        padding-left: 0;
        padding-right: 0;
    }


    #cuadrocontenedor{
        float: left;
        width: 80%;
        height: 408px;
        background-color: #FFFFFF;
        margin: 20% 5% 5% 20%;
        padding: 0% 0% 0% 0%;
        border-radius: 20px;
        opacity: 0.4;
    }

    #marcotitulo{
        float:left;
        width: 100%;
        height: 30px;
        margin:2% 0% 0% 0%;
        padding:0% 0% 0% 0%;
    }

    #cuadrouno_titulo{
          float: left;
    width: 60%;
    height: 37px;
    margin: 5% 30% 0% 30%;
    padding: 0% 0% 0% 0%;
    }

    #cuadroform{
        float: left;
        width: 90%;
       height: 190px;
        margin: 7% 5% 5% 5%;
        padding: 0% 0% 0% 0%;
    }

    #cuadrouno_txtu {
        float: left;
        width: 100%;
        height: 31px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;
    }

    #cuadrouno_txt{
        float: left;
        width: 55%;
        height: 25px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;

    }

    #cuadrouno_txtinput{
        float: left;
        width: 50%;
        height: 24px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% -10%;
        display: block;

    }


    #cuadrouno_txtud {
        float: left;
        width: 100%;
        height: 31px;
        padding: 0% 0% 0% 0%;
        margin: 3% 0% 0% 0%;
        display: block;
    }

    #cuadrouno_txtd{
        float: left;
        width: 45%;
        height: 25px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;

    }

    #cuadrouno_txtinputd{
        float: left;
        width: 50%;
        height: 24px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;

    }

    #cuadrobtn{
          float: left;
    width: 50%;
    height: 40px;
    margin: 0% 25% 5% 25%;
    padding: 0% 0% 0% 0%;

    }
}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {

    body {

        font-size:10px;
        padding:0px;
        margin:0px;
        width:100%
    }


    .gridContainer {
        width: 100%;
        padding-left: 0%;
        /*padding-right: 1.1625%;*/
    }

    #contenedor {
        /*width: 98.2%;
        max-width: 1024px;
        padding-left: 0.9%;
        padding-right: 0.9%;*/
        width:100%;
        height:auto;
        margin: auto;
        padding:0%;
    }

    #cuadrocontenedor{

        float: left;
        width: 50%;
        height: 408px;
        background-color: #FFFFFF;
        margin: 25% 5% 5% 25%;
        padding: 0% 0% 0% 0%;
        border-radius: 20px;
        opacity: 0.4;
    }

    #marcotitulo{
        float:left;
        width: 100%;
        height: 30px;
        margin:0% 0% 0% 0%;
        padding:0% 0% 0% 0%;
    }

    #cuadrouno_titulo{
        float: left;
        width: 70%;
        height: 37px;
        margin: 4% 15% 0% 15%;
        padding: 0% 0% 0% 0%;
    }

    #cuadroform{
        float: left;
        width: 90%;
      height: 190px;
        margin: 7% 5% 5% 5%;
        padding: 0% 0% 0% 0%;

    }

    #cuadrouno_txtu {
        float: left;
        width: 100%;
        height: 31px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;
    }

    #cuadrouno_txt{
        float: left;
        width: 45%;
        height: 25px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;

    }

    #cuadrouno_txtinput{
        float: left;
        width: 50%;
        height: 24px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;

    }

    #cuadrouno_txtud {
        float: left;
        width: 100%;
        height: 31px;
        padding: 0% 0% 0% 0%;
        margin: 3% 0% 0% 0%;
        display: block;
    }

    #cuadrouno_txtd{
        float: left;
        width: 45%;
        height: 25px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;

    }

    #cuadrouno_txtinputd{
        float: left;
        width: 50%;
        height: 24px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;

    }

    #cuadrobtn{
       float: left;
    width: 50%;
    height: 40px;
    margin: 0% 25% 5% 25%;
    padding: 0% 0% 0% 0%;

    }

}
@media only screen and (min-width: 1900px) {

    body {

        font-size:10px;
        padding:0px;
        margin:0px;
        width:100%
    }


    .gridContainer {
        width: 100%;
        padding-left: 0%;
        /*padding-right: 1.1625%;*/
    }


    #contenedor {
        /*width: 98.2%;
        max-width: 1024px;
        padding-left: 0.9%;
        padding-right: 0.9%;*/
        width:100%;
        height:auto;
        margin: auto;
        padding:0%;
    }

    #cuadrocontenedor{
        float: left;
        width: 50%;
        height: 408px;
        background-color: #FFFFFF;
        margin: 25% 5% 5% 25%;
        padding: 0% 0% 0% 0%;
        border-radius: 20px;
        opacity: 0.4; 

    }

    #marcotitulo{
        float:left;
        width: 100%;
        height: 30px;
        margin:0% 0% 0% 0%;
        padding:0% 0% 0% 0%;
    }

    #cuadrouno_titulo{
        float: left;
        width: 50%;
        height: 37px;
        margin: 5% 25% 0% 25%;
        padding: 0% 0% 0% 0%;
    }

    #cuadroform{
        float: left;
        width: 90%;
     height: 190px;
        margin: 7% 5% 5% 5%;
        padding: 0% 0% 0% 0%;

    }

    #cuadrouno_txtu {
        float: left;
        width: 100%;
        height: 31px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;
    }

    #cuadrouno_txt{
        float: left;
        width: 40%;
        height: 25px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;

    }

    #cuadrouno_txtinput{
        float: left;
        width: 50%;
        height: 24px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;

    }


    #cuadrouno_txtud {
        float: left;
        width: 100%;
        height: 31px;
        padding: 0% 0% 0% 0%;
        margin: 3% 0% 0% 0%;
        display: block;
    }

    #cuadrouno_txtd{
        float: left;
        width: 45%;
        height: 25px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;

    }

    #cuadrouno_txtinputd{
        float: left;
        width: 50%;
        height: 24px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        display: block;

    }

    #cuadrobtn{
        float: left;
        width: 50%;
        height: 40px;
        margin: 25% 5% 5% 25%;
        padding: 0% 0% 0% 0%;

    }
}

a:link
{
    text-decoration:none;
    font-family: 'GOTHIC';font-size: 1em; color: #16647a;
}

.panelgrid-dotted-border{

    border-spacing: 0;
    border: 0px;
}
.panelgrid-dotted-border.ui-panelgrid tr, .panelgrid-dotted-border.ui-panelgrid .ui-panelgrid-cell {
    border: 0px;
}

body .ui-chkbox .ui-chkbox-box {
    border: 2px solid #FFFFFF;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

body .ui-message.ui-message-error {
    font-size: 10px;
    float: left;
    height: 3px;
    color: #fff8f8;
    background-color: #f45f56;
    width: 95%;
    margin: 0% 0% 0% 0%;
    font-weight: bold;
    font-family: 'GOTHIC';
}



body .ui-inputfield.ui-state-focus {
    border-width: 0% 0% 0% 0%;
    border-color: #ffffff;
    padding-bottom: 0px;
}    

body .ui-button { 
   width: 100%;
    height: 30px;
    color: #ffffff;
    font-family: 'GOTHIC';
    border: 1px solid black;
    float: left;
    margin-top: 0%;
    margin-left: 0%;
    overflow: hidden;
    font-size: 1.3em;
    font-weight: bold;
    border: 0 none;
    border-radius: 20px;
    -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

body .ui-inputfield {

    width: 85% !important;
    height: 18px;
    float: left;
    font-family: 'GOTHIC';
    font-size: 2em;
    color: #151414;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    border-radius: 20px;
    border-width: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 14% !important;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -webkit-transi45854641565410tion: border-color 0.3s;
    transition: border-color 0.3s;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 20px;

}

button, select, textarea {
    width: 90%;
    height: 25px;
    float: left;
    font-family: 'GOTHIC' !important;
    font-size: 1.2em;
    color: #151414;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    border: 2px solid #0B637A !Important;

    padding: 0% 0% 0% 0%;
    margin: 1% 0% 0% 13%;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;


}


.ui-md-8 {
    width: 100%;
}




option {
    font-family: 'GOTHIC';
    font-size: 14px;
    color: #bdbdbd;
    font-weight: bold;
    display: block;
    white-space: pre;
    padding: 0px 2px 1px;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;

    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    border-radius: 20px;
    background-color: #FFFFFF;
    text-decoration: none;
    font-family: 'GOTHIC' !important;
    font-size: 14px !important;
    color: #bdbdbd;
    font-weight: bold;
}

.ui-autocomplete {
    width: auto;
    zoom: 1;
    cursor: pointer;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    display: inline-block;
    background-color: #e6f0f2;
    font-family: 'GOTHIC';
    font-size: 1.2em;
    color: #afa0a0;
}


body .ui-widget, body .ui-widget .ui-widget {
    font-family: 'GOTHIC';
    font-size: 1em;
    color: #0c0c0c;
    text-decoration: none;
    font-weight: none;
}

input:-internal-autofill-selected {
    background-color: #FFFFFF !important;
    background-image: none !important;
    color: #afa0a0 !important;
}


body .ui-radiobutton .ui-radiobutton-box {
    border: 2px solid #ffffff;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

body .ui-radiobutton .ui-radiobutton-box .ui-icon-bullet {
    background-color: #ffffff;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #ffffff;
    background-color: transparent;
}


/* custom radio */
.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* create custom radio */
.radio .check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0.24) !important;
    border: 1px solid #e2d6d6 !important;
    border-radius: 50%;
}

/* on mouse-over, add border color */
.radio:hover input ~ .check {
    border: 2px solid black;
}

/* add background color when the radio is checked */
.radio input:checked ~ .check {
    background-color: #e8edef;
    border: 1px;
}

/* create the radio and hide when not checked */
.radio .check:after {
    content: "";
    position: absolute;
    display: none;
}

/* show the radio when checked */
.radio input:checked ~ .check:after {
    display: block;
}

/* radio style */
.radio .check:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


body .ui-message {
    min-height: 14px;
}

body .ui-message .ui-message-error-icon {
    margin-top: 0px;
    font-size: 14px;
    right: 1px;
}

body .ui-messages .ui-messages-error-icon, body .ui-message .ui-message-error-icon {
    background: none;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    font-size: 13px;
    color: #fff;
    margin-top: -2px;
}

body .ui-state-error, body .ui-widget.ui-state-error, body .ui-widget-content .ui-state-error, body .ui-widget-header .ui-state-error {
    border-color: #ffffff;
}

body .ui-inputfield.ui-state-error {
    border-color: #ffffff;
}

body .ui-button {
    overflow: hidden;
    background-color: #0B637A;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: bold;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    border: 0 none;
    border-radius: 20px;
    -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

body .ui-inputfield {
    background: transparent;
    border-width: 0 0 1px 0;
    padding: 2px 2px 1px 2px;
    font-size: 14px !important;
    border-color: #ffffff;
    border-style: solid;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
